@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 174 86% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 168 84% 95%;
    --secondary-foreground: 174 86% 24%;
    --muted: 168 84% 95%;
    --muted-foreground: 174 86% 34%;
    --accent: 168 84% 95%;
    --accent-foreground: 174 86% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 168 84% 85%;
    --input: 168 84% 85%;
    --ring: 174 86% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 174 86% 4%;
    --foreground: 0 0% 98%;
    --card: 174 86% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 174 86% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 174 86% 44%;
    --primary-foreground: 174 86% 4%;
    --secondary: 174 86% 14%;
    --secondary-foreground: 0 0% 98%;
    --muted: 174 86% 14%;
    --muted-foreground: 168 84% 75%;
    --accent: 174 86% 14%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 174 86% 14%;
    --input: 174 86% 14%;
    --ring: 174 86% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* globals.css or styles/globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
